<app-search></app-search>
<router-outlet></router-outlet>

<footer>
    <section>
      <div class="footer-contact">
        <a class="contact-link" href="https://github.com/alabhya139" target="_blank">
          <i style="font-size: 32px; color: white;" class="fab fa-github"></i>
        </a>
        <a class="contact-link" href="https://www.facebook.com/alabhya.pandey.14" target="_blank">
          <i style="font-size: 32px; color: white;" class="fab fa-facebook-square"></i>
        </a>
        <a class="contact-link" href="https://www.linkedin.com/in/alabhya-pandey-654270102/" target="_blank">
          <i style="font-size: 32px; color: white;" class="fab fa-linkedin"></i>
        </a>
      </div>
      <p class="footer-para myFonts">&copy; 2018 Designed  and  Developed  by  Alabhya  Pandey</p>
    </section>
  </footer>