

<div class="card text-center">
  <div class="card-body shadow-lg">
    <h1 style="font-size: 15vmin" class="card-title">OCEANIA</h1>
    <p class="card-text">Oceania was originally conceived as the lands of the Pacific Ocean, stretching from the Strait of Malacca to the coast of the Americas. It comprised four regions: Polynesia, Micronesia, Malaysia (now called the Malay Archipelago), and Melanesia.</p>
    <a [routerLink]="['region','Oceania']" class="btn btn-light">View Details</a>
  </div>
</div>

<div class="card text-center">
  <div class="card-body1 shadow-lg">
    <h1 style="font-size: 15vmin" class="card-title">AFRICA</h1>
    <p class="card-text">Africa is the world's second largest and second most-populous continent (behind Asia in both categories). At about 30.3 million km2 (11.7 million square miles) including adjacent islands, it covers 6% of Earth's total surface area and 20% of its land area.</p>
    <a [routerLink]="['region','Africa']" class="btn btn-light">View Details</a>
  </div>
</div>

<div class="card text-center">
  <div class="card-body4 shadow-lg">
    <h1 style="font-size: 15vmin" class="card-title">EUROPE</h1>
    <p class="card-text">Europe is a continent located entirely in the Northern Hemisphere and mostly in the Eastern Hemisphere. It is bordered by the Arctic Ocean to the north, the Atlantic Ocean to the west and the Mediterranean Sea to the south. It comprises the westernmost part of Eurasia.</p>
    <a [routerLink]="['region','Europe']" class="btn btn-light">View Details</a>
  </div>
</div>

<div class="card text-center">
  <div class="card-body2 shadow-lg">
    <h1 style="font-size: 15vmin" class="card-title">ASIA</h1>
    <p class="card-text">Asia is Earth's largest and most populous continent, located primarily in the Eastern and Northern Hemispheres.</p>
    <a [routerLink]="['region','Asia']" class="btn btn-light">View Details</a>
  </div>
</div>

<div class="card text-center">
  <div class="card-body3 shadow-lg">
    <h1 style="font-size: 15vmin" class="card-title">AMERICA</h1>
    <p class="card-text">The Americas (also collectively called America) comprise the totality of the continents of North and South America.[5][6][7] Together, they make up most of the land in Earth's western hemisphere and comprise the New World.</p>
    <a [routerLink]="['region','Americas']" class="btn btn-light">View Details</a>
  </div>
</div>

